#bodyContainer {
    /* 100% of view port*/ 
    height: 100vh; 

    /* this should be bigger than the sume of 
        min-width of sub elements */
    min-width: 600px; 
}

#bodyHeader {
    height: 120px;
}

#bodyContentWrapper {
    border: none;
    margin: 0;
    padding: 0;
}

    #bodyContentWrapper > div {
        height: 100%;
    }

#leftPanel {
    float: left;
    background-color: lightblue;
    min-width: 150px;
}

#middlePanel {
    /* setting overflow: hidden and not floating to make 
        the middle panel "block formatting context" (BFC) */
    overflow: hidden;
    background-color: lightcoral;
    min-width: 150px;
}

#rightPanel {
    float: right;
    background-color: lightgreen;
    min-width: 150px;
}

.resizeBar {
    width: 5px;
    background-color: darkgrey;
}

.resizeBar:hover {
    cursor: col-resize;
}

#leftResizeBar {
    float: left;
}

#rightResizeBar {
    float: right;
}
